body{
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
html{
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}
.container{
    width: 85%;
    margin: auto;
}
.logo-con img{
  width: 132px;
  height: 41px;
}
.fa-brands, .fa-solid{
 color: white;
}
.fa-angle-down, .fa-cart-shopping{
    color: #080808;
}
.fa-arrow-right{
    color: #00A8A8;
}
.warrow{
    color: white;
}
.nav,.contentbox p{
  font-family: "Anybody", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.logo-con{
    flex-basis: 10%;
}
.logo-con img{
    cursor: pointer;
}
nav{
   flex-basis: 60%;
   
}
nav ul li{
    padding: 12px 8px 12px 8px;
    align-items: flex-start;
    display: inline-block;
    color: #080808;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.005em;
    text-align: left;
    text-decoration-skip-ink: none;
}
nav ul{
    gap: 25px;
    display: flex;
    align-items: center;
    padding: 0%;
}
 header .topbar{
    width: 100%;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: white;
    color: black;
    position: fixed;
}
.nav{
    height: 100%;
}
.n-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    height: 100%;
    z-index: 30;
    align-items: center;
}
.cl-con{
    display: flex;
    gap: 20px;
    text-decoration: none;
    align-items: center;
}
.cl-con .cart{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: black;
}
.cl-con .login{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    background-color: #00A8A8;
    border: 2px solid #00A8A8;
    height: Fixed (48px)px;
    padding:15px 30px;
    border-radius: 10px;
}
.head{
    background-color: #161e21;
    background-image: url(../images/Home2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    width: 100%;
}
.contentbox h1{
    display: inline-block;
    color: white;
    font-family: "Genos", sans-serif;
    font-size:170px;
    font-weight: 700;
    line-height: 140px;
    letter-spacing: -5px;
    margin-top: 11.5%;
    margin-bottom: 50px;
    text-align: left;
}
.contentbox p{
    display: inline-block;
    color: white;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing :0.5%;
    text-align: left;
    text-decoration-skip-ink: none;
}
.contentbox button{
    font-family: "Anybody", serif;
    cursor: pointer;
    font-size: 25px;
    width: 198px;
    height: 66px;
    background: #00A8A8;
    border: 2px solid #00A8A8;
    padding: 18px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align:center;
    margin-top: 3%;
    
}
.contentbox{
    min-height: 750px;
}
.title-col{
    flex-basis: 40%;    
}
.title-col h1{
    font-family: "Genos",sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 60.5px;
    text-decoration-skip-ink: none;
    margin: 0%;
}
.title-col p{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;  
}
.hit-cols{
    display: flex;
    flex-basis: 60%;
    justify-content:flex-start;
    justify-content: space-between;
    width: 250px;
    height: 200px;
}
.hit{
    display: flex;
    gap: 70px;
    padding-top: 60px;
    max-width: 100%;
}
.hit-cols h2{
    font-family: "Anybody",serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}
.hit-cols p{
    font-family: "Roboto",sans-serif;
   font-size: 18px;
font-weight: 400;
line-height: 25.2px;
text-align: left;

}
.plug-img{ 
    flex-basis: 50%;
    max-width: 680px;
    max-height:552px;  
}
.plug-img img{
    width:100%;
    height: 100%;
}
.p-row1, .p-row2{
    display: flex;
    flex-direction: row;
    max-width: 520px;
    justify-content: space-between;
    gap: 30px;
}
.fd, .pyt{
    padding-top: 50px;
}
.support, .del{
    padding-bottom: 50px;
}
.evplug-con{
   display: flex;
   width: 100%;
  justify-content:space-between;
   padding:80px 0px;
}
.p-row1 p,.p-row2 p{
    font-family: "Anybody",serif;
    font-size: 18px;
    line-height: 26px;
    padding: 0%;
}
.plug-content{
    flex-basis: 40%;
    padding:0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ntm-cnt{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.con-ntm{
    text-align: center;
    flex-basis: 22%;
    background-color: white;
    width: 250px;
    height: 144px;
    padding: 10px;
}
.con-ntm h2{
    font-family: "Anybody",serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;   
}
.con-ntm p{
    color: #697077;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}
.ntm-con{
    background-color: #161e21;
}
.ntm{
    text-align: center;
    padding: 50px;
}
.ntm h1{
    font-family: "Genos",sans-serif;
    color: white;
    font-size: 44px;
    font-weight: 700;
    line-height: 46.2px;
    text-align: center;
}
.ntm-p{
    font-family: "Roboto",sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;   
}
.mpr-con{
    text-align: center;
}
.mpr-con h1{
    font-family: "Genos",sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 46.2px;
    text-align: center;
    padding: 30px 0px;    
}
.car-list{
    max-width: 100%;
    display: flex;
    justify-content:space-between;
}
.car-box{
    box-sizing: border-box; 
    flex-basis: 24%;
    border: 1px solid #DDE1E6;
    width: 300px;
    height: 422px;
    padding: 24px 16px 16px 16px;  
}
 .car-box img{
    padding: 30px 0px;
    width: 100%;
} 
.car-box h2{
    padding-top: 35px;
    padding-bottom: 5px;
    font-family: "Anybody",serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}
.car-box p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color:#21272A;   
}
.car-box a{
    color: #00A8A8;
    display: flex;
    justify-content:left;
    text-decoration: none;
    font-family: "Anybody",serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 10px 8px 0px 0px;
}
.shopbtn a{
    font-family: "Anybody", serif;
    cursor: pointer;
    font-size: 20px;
    width: 198px;
    height: 66px;
    background: #00A8A8;
    border: 2px solid #00A8A8;
    padding: 18px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align:center;
    text-decoration: none;  
}
.shopbtn{
    margin: 50px;
    padding: 50px;
}
.dta-con{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    padding-top: 70px ;
}
.dta-img{
    flex-basis: 30%;
    width: auto;
    height: 630px;
}
.dta-img img{
    width: 386px;
    height:100%
}
.dta-cnt{
    padding-top: 40px;
    flex-basis: 50%;
    width: 100%;
    height: 444px;
}
.dta-cnt-head h1{
    font-family: "Genos",sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 57.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
 .dta-cnt-head p{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    padding-bottom: 50px;
}
.dta-cnt-btn{
    display: flex;
    gap: 16px;
}
.dta-cnt-btn img{
    cursor: pointer;
}
.ftr-part{
    height: 136px;
    overflow: hidden;
    background-color: #161e21;
    margin: 0%;
}
.ftr{
    padding: 48px 80px 48px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ftr-nav{
    display: flex;
    align-items: center;
    flex-basis: 40%;
}
.ftr-sp{
    display: flex;
    gap: 20px;
    align-items: center;
}
 .fa-brands{
    font-size: 20px;
 }
.ftr-nav a{
    text-decoration: none;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    flex-basis: 18%;
    text-align: center;  
}
.cpy-ryt{
    flex-basis: 20%;
}
.cpy-ryt pre{
    color: white;
    font-family: "Anybody",serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;   
}

@media (max-width:1200px){
   
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .contentbox{
        max-height: 100vh;
    }
    nav ul{
        gap:5px;
    }
    nav{
    flex-basis: auto;
    }
    .contentbox h1{
        display: inline-block;
        color: white;
        font-family: "Genos", sans-serif;
        font-size: 120px;
        font-weight: 700;
        line-height: 140px;
        letter-spacing: -5px;
        margin-top: 11.5%;
        margin-bottom: 50px;
        text-align: left;
    }
    .contentbox p{
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 0;
    }
    .contentbox button{
        font-size: 20px;
        max-width: 198px;
        max-height: 66px;
        padding: 18px;
        margin-top: 3%;
        
    }
    .head{
        background-position: center;
        background-size: contain;
    }
    .title-col h1{
        font-size: 45px;
    }
    .hit-cols p, .plug-content p, .dta-cnt-head p{
        font-size: 15px;
    }
    .hit-cols img, .plug-content img{
        max-width: 40px;
        max-height: 40px;
    }
    .plug-img img{
     max-width: 100%;
     max-height: 100%;
    }
     
    .ntm{
        padding-left: 0px;
        padding-right: 0px;
    }
    .car-list{
        flex-direction: unset;
    }
    .car-box h2{
       font-size: 15px;
       padding-top: 0%;
    }
    .car-box img{
        max-width: 220px;
    }
    .car-box p{
        padding-bottom: 10px;
    }
    .car-box a{
        display: flex;
        align-items: center;
        justify-content:stretch;
    }
    .shopbtn a{
        font-size: 15px;
    }
    .con-ntm p{
        font-size: 13px;
        margin-top: 0px;
    }
    .con-ntm h2{
        font-size: 20px;
    }
    .con-ntm img{
        max-height: 40px;
        max-width: 40px;
    }
    .ftr{
        padding: 30px 20px;
        flex-basis: 1 1 1;
        justify-content: space-between;
    }
    .ftr-nav a{
        font-size: 12px;
    }
    .cpy-ryt p{
        font-size: 10px;
    }
    .ftr-sp{
        justify-content: space-between;
    }

}
@media (max-width:1080px) {
    
    .logo-con img{
        max-width: 120px;
        max-height: 29px;
    }
    .cl-con .login{
      font-size: 15px;
      padding: 15px 20px;
    }
    .cl-con .cart{
        font-size: 13px;
    }
    nav{
        flex-basis: 50%;
    }
    nav ul{
        gap: 13px
    }
    nav ul li{
      font-size: 13px;
      padding-left: 0%;
      padding-right: 0;
    }
    .contentbox{
        min-height:650px;
     }
     .contentbox h1{
        margin-top: 14%;
        margin-bottom: 0%;
        font-size: 100px;
        line-height: 90px;
     }
     .contentbox p{
        margin-top: 40px;
     }
     .contentbox button{
        font-size: 15px;
        font-weight:600;
        width: 150px;
        height: 55px;
     }
     .con-ntm{
        padding: 5px;
     }
     .title-col h1{
        font-size: 35px;
     }
     .hit-cols h2{
        font-size: 16px;
     }
     .hit-cols p, .plug-content p{
        font-size: 13px;
     }
     .title-col p{
        font-size: 17px;
     }
     .plug-img{
        max-height: 400px;
        justify-content: center;
        align-items: center;
     }
     .plug-content{
        justify-content: space-evenly;
     }
     .evplug-con{
        padding-top: 60px;
     }
     .support, .del{
        padding-bottom: 0%;
     }
     .fd, .pyt{
         padding-top: 0;
     }
     .dta-img{
        max-width: 300px;
        max-height: 500px;
     }
    .car-list{
        justify-content:center;
        gap: 10px;
    }
    .car-box {
        gap: 10px;
        max-height: 350px;
    }
     .car-box h2{
        font-size: 13.5px;
     }
     .car-box p{
        font-size: 11.5px;
     }
     .car-box a{
        font-size: 15px;
     }
    .shopbtn{
        margin: 0%;
    }
    .dta-img  img{
        height: 100%;
        width: 100%;
     }
     .dta-img{
        padding-left: 80px;
        max-width: 200px;
        max-height: 300px;
        overflow-y: hidden;
     }
     .dta-con{
        overflow-y: hidden;
        flex: 1 1;
        align-items: center;
     }
     .dta-cnt{
        max-height:300px;
        padding: 0%;
     }
     .dta-cnt-head p{
        padding-bottom:10px;
        font-size: 13px;
        line-height: 18px;
      }
     .dta-cnt-head h1{
        font-size: 30px;
     }
     .ftr-part{
        height: auto;
     }
     .ftr-nav a{
        font-size: 10px;
        margin-left: 10px;
     }
     .cpy-ryt pre{
        font-size: 11.5px;
     }
     .fa-brands{
      font-size: 15px;

     }
}

@media (max-width:950px){

    .contentbox{
      min-height: 550px;
    }
    .car-box {
        max-height: 350px;
    }
     .car-box h2{
        font-size: 12px;
     }
     .c2 h2{
        font-size: 11px;
     }
     .car-box p{
        font-size: 10px;
     }
     .car-box a{
        font-size: 13px;
     }
}
@media (max-width:750px) {
    .topbar{
        max-width: 100%;
    }
    .logo-con img{
        max-width:60px;
        max-height:20px;
    }
    nav ul li, .cart , .cl-con .login{
        font-size: 10px;
    }
    .cl-con .login{
        border: 0;
        line-height: 0;
    }
    .contentbox h1{
        font-size: 70px;
    }
    .contentbox p{
        font-size: 15px;
    }
    .contentbox button{
        font-size: 10px;
        font-weight: 600;
        width: 110px;
        height: 50px;
        line-height: 0%;
    }
    .title-col h1 {
        font-size: 25px;
    }
    .title-col p {
        font-size: 15px;
    }
    .hit-cols img, .plug-content img {
        max-width: 25px;
        max-height: 25px;
    }
    .hit-cols h2 {
        font-size: 12px;
    }
    .hit-cols p{
        font-size: 8px;
    }
    .evplug-con{
        justify-content: unset;
       gap: 25px;
    }
     .plug-content p {
        font-size: 8px;
    }
    .evplug-con{
        padding-top: 30px;
    }
    .ntm h1 {
        font-size: 25px;
        line-height:0px;
    }
    .ntm-p {
        font-size: 10px;
        line-height: 10px;
    }
    .ntm-cnt img{
        width: 25px;
        height: 25px;
    }
    .con-ntm h2{
        font-size: 12px;
    }
    .con-ntm p {
        font-size: 5px;
    }
    .con-ntm{
        max-width: 251px;
        max-height: 145px;
    }
    .shopbtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shopbtn a {
        font-size: 10px;
        max-width: 110px;
        max-height: 40px;
        background: #00A8A8;
        border: 2px solid #00A8A8;
        padding: 0px;
        border-radius: 10px;
        line-height: 20px;
    }
    .dta-img{
        padding: 0%;
    }
    .dta-con{
        gap: 0;
    }
    .car-box {
        max-height: 300px;
    }
     .car-box h2{
        font-size: 10px;
     }
     .c2 h2{
        font-size: 9px;
     }
     .car-box p{
        font-size: 8px;
     }
     .car-box a{
        font-size: 11.5px;
     }
    .ftr{
        padding-left: 10px;
        padding-right: 10px;
    }
    .dta-cnt-head p {
        padding-bottom: 10px;
        font-size: 9px;
        line-height: 18px;
    }
    .cpy-ryt pre {
        font-size: 8px;
    }
    .ftr-nav a {
        font-size: 6px;
        margin-left: 5px;
    }
    .fa-brands{
       font-size: 10px;
    }

}
@media (max-width:624px){
    .topbar{
        max-height: 50px;
        overflow: hidden;
    }
    .n-c{
        flex-wrap: nowrap;
    }
    nav ul li{
        font-size: 7px;
        line-height: normal;

    }
    nav ul{
        gap: 10px;
    }
    .cl-con .cart{
        font-size: 9px;
    }
    .cl-con .login{
        font-size: 9px;
    }
    .contentbox p {
        margin-top:10px ;
    }
    .title-col{
        display: inline-block;
    }
    .title-col h1 {
       line-height:16px;
       font-size: 19px;
    }
    .mpr-con h1{
        font-size: 30px;
    }
    .title-col p {
        line-height: 13px;
        font-size: 11px;
    }
    .hit{
        max-height: 120px;
    }
    .hit-cols{
        gap: 5px;
    }
    .hit-cols p {
        line-height: 10px;
    }
    .hit-cols h2 {
       line-height: 15px;
    }
    .plug-content p {
       line-height: 13px;
    }
    .car-list{
        flex-wrap: wrap;
        justify-content:center;
        gap: 10px;
    }
    .car-box{
        flex: 1 1 calc(40% - 16px);
        flex-grow:unset;
        flex-shrink: inherit;
    }
    .car-box img{
        width:103px
    }
    
    .con-ntm{
        max-height: 100px;
    }
    .ftr-sp i pre{
        max-width: 10px;
    }
}

@media (max-width:467px){
    nav ul{
     gap: 5px;
    }
    .contentbox{
        min-height: 350px;
    }
    .contentbox h1{
        margin-top:20% ;
        font-size: 50px;
        line-height: 40px;
    }
    .contentbox p{
        font-size: 12px;
    }
    .cl-con{
        gap: 5px;
    }
    .title-col h1{
        font-size: 15px;
    }
    .hit-cols h2{
        font-size: 10px;
    }
    .dta-cnt-head h1{
        font-size: 17px;
        line-height: 12px;
    }
    .dta-cnt-head p{
        line-height: 10px;
    }
    .dta-cnt img{
        max-width:80px;
        max-height: 20px;
    }
    .dta-img{
        max-height: 200px;
        overflow-y: hidden;
    }
    .dta-cnt{
        height: 200px;
        overflow-y: hidden;
    }
    nav ul li{
        font-size: 5px;
    }
    .cl-con .login{
        padding: 10px 15px;
    }
    .cl-con .cart{
        font-size: 7px;
    }
    .evplug-con p{
        font-size: 6px;
    }
    .ftr-sp{
        gap: 5px;
    }
    .ftr-nav a{
        gap: 2px;
        margin-left:0;
    }
}
